* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: ;
}
img {
    max-width: 100%;
}
h3 {
    font-size: 3rem;
    text-align: center;

}
h2 {
    font-size: 4rem;
}
p {
    font-size: 1.8rem;
}
.white {
    background-color: white;
    color: black;
}
.brightblue {
    color: #0081fc;
}
.bgbrightblue {
    background-color: #0081fc;
}
.blue {
    color: #9792e4;
}
.bgblue {
    background-color:#9792e4;
}
.bgwhite {
    background-color: white;
}
/* HEADER */
header {
    width:100%;
    background-color: #0081fc;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.logo {
    width: 7rem;
}
.h-menu i  {
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
}
.container {
    width: 90%;
    margin: auto;
}
.smallcontainer {
    width:80%;
    text-align: center;
    margin: auto;
    padding: 2rem 0;
}
.flex-header {
    display:flex;
    justify-content: space-between;
    padding: 1rem 0 1rem;
}
.nav {
    display: none;
}
.nav ul {
    display:flex;
    align-items: center;
    height:100%;
    list-style-type: none;
}
.nav a:not(.button) {
    margin-left:1.4rem;
    color: white;
    list-style-type: none;
    font-size: 1.4rem;
    text-decoration: none;
}
.nav .button {
    margin-left:20px;
}
main {
    margin-top: 7rem;
}
/* FEATURES */
#features {
    margin-bottom: 3rem;
}
.button {
    padding: .5rem 3rem;
    margin:3rem 0;
    font-size: 2rem;
    border-radius: 20px;
    text-decoration: none;
}
.card img {
    width:300px;
}

.card .button {
    color:white;
    text-align: center;

}
.firstcard, .card{
    border-radius: 10px;
    width:100%;
    margin-bottom:1.5rem;
    background-color: #b5ddff;
    padding: 10px 10px 0 10px;
}
.card p {
    margin:2rem 0;
    color: rgb(110, 110, 110)
}
.card i {
    margin-right: 5px;
}
.card h3 {
    color: #0081fc;
}
.card:not(.firstcard) i {
    font-size: 8rem;
    color: #0081fc;
    padding:2rem 0;
}
.card {
    text-align: center;
    padding-bottom:2rem;
}
#features h3 {
    padding:3rem 0;
}
/* PLANNING */
#planning {
    background-color: #9792e4;
    padding-bottom: 3rem;
}

#planning img {
    padding:2rem 0;
}
.plan-picture {
    color:white;
}
.plan {
    margin-bottom:3rem;
}
#planning h2 {
    padding: 3rem 0;
}
#planning h3 {
    padding:3rem 0;
}
#partners{
    text-align: center;
}
#partners h3{
    padding:3rem 0;
}
.partners-title h4 {
    padding: 3rem 0;
    font-size: 1.6rem;
}
.text {
    color: white;
}
.bigcard {
    border-radius: 20px;
    padding:1.5rem;
    margin:3rem;
    text-align: center;
}
.down-arrow {
    width:70px;
    height:70px;
    background-color:#9792e4;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left:calc(50% - 35px);
}
/* PARTNERS */
.partner-cards img {
    object-fit: cover;
    width:200px;
    height: 200px;
    border-radius: 50%;
    padding: 1rem;
}
#partners .picture {
    flex-shrink: 0;
}
/* BENEFITS */
#benefits {
    background-color: #9792e4;
}
#benefits h3{
    padding:3rem 0 1rem;
}

#benefits h2 {
    color:white;
    font-size: 3rem;
    text-align: center;
    padding-top:3rem;
}
#benefits h4 {
    padding-bottom:2rem;
    font-size: 1.6rem;
}
#benefits p {
    margin-bottom: 3rem;
}
#benefits .button {
    color: white;
}
#benefits .container {
    padding-bottom: 3rem;
}
/* ABOUT US */
.about-bottom .picture {
    width: 100px;
    height:100px;
    background-color: green;
    border-radius: 50%;
}
#action {
    background-color: #9792e4;
}
#action .container {
    text-align: center;
}
/* #action h4 + h3 + h2 + span {
    padding: 1rem 0;
} */
footer {
    background-color: #333333;
}
/* MEDIA QUERIES */
/* TABLET */
@media screen and (min-width: 768px) {
    #features {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
    }
    #features .firstcard {
        width: calc(100% / 3 * 2 - 2rem);
    }
    .firstcard * {
        text-align: left;
    }
    .card  {
        width: calc(100% / 3 - 2rem);
        margin-bottom: 0;
    }
    .container { 
        width:80%
    }
    .partner-cards .bigcard {
        display: flex;
        align-items: center;
    }
    .partner-cards .text {
        padding-left: 2rem;
    }
    .partner-cards .text h3{
        padding: 2rem 0;
    }
    .benefit-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin:2rem 0;
    }
    #benefits .bigcard {
        width: calc(100% / 2 - 2rem);
        margin:0;
    }
    #about-us .container {
        display: flex;
    }
}
/* DESKTOP */
@media screen and (min-width:992px) {
    .h-menu {
        display: none;
    }
    .nav {
        display: block;
    }
    .container {
        max-width: 1000px;
    }
    #planning .container {
        display: flex;
    }
    #benefits .bigcard {
        width: calc(100% / 3 - 2rem);
    }
    .firstcard {
        display:flex;
    }
    .bottomcard {
        width:50%;
    }
    .topcard {
        width: 50%;
    }
    #planning .container {
        align-items: center;
        padding: 0;
    }
/* WIDE SCREEN */
@media screen and (1200px) {

}