* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: ;
}
img {
    max-width: 100%;
}
header {
    width:100%;
    background-color: #0084fd;
    position: fixed;
    top: 0;
    left: 0;
    /* DEBUG */
    height: 70px;
}
.logo {
    /* DEBUG */
    width: 100px;
    height: 70px;
    background-color: yellow;
}
.h-menu {
    /* DEBUG */
    width: 100px;
    height: 70px;
    background-color: yellow;
}
.container {
    width: 70%;
    margin: auto;
}
.flex-header {
    display:flex;
    justify-content: space-between;
}
.nav {
    display: none;
}
.nav ul {
    display:flex;
    align-items: center;
    height:100%;
}
.nav li {
    margin-left:1rem;
    color: white;
    list-style-type: none;
}
main {
    margin-top: 100px;
}
#features {
    margin-bottom: 3rem;
}
.card {
    border-radius: 10px;
    width:100%;
    margin-bottom:1.5rem;
    /* DEBUG */
    height: 200px;
    background-color: #b5ddff;

}
/* PLANNING */
#planning {
    background-color: #9792e4;
}
.planning-picture {
    width: 100%;
    height: 70px;
    background-color: red;
    margin: auto;
}
.bigcard {

    background-color: white;
    border-radius: 20px;
    margin:2rem 0;

}
#planning .bigcard {
    margin: 3rem 0;

}
/* PARTNERS */
.partner-cards .picture {
    width: 100px;
    height:100px;
    background-color: green;
    border-radius: 50%;
}
#planning .picture {
    width: 100px;
    height:100px;
    background-color: green;
    border-radius: 50%;
}
/* DEBUG */
#partners {
    background-color: aqua;
}


/* MEDIA QUERIES */
/* TABLET */
@media screen and (min-width: 768px) {
    #features {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
    }
    #features :first-child {
        width: calc(100% / 3 * 2 - 2rem);
    }
    .card  {
        width: calc(100% / 3 - 2rem);
        margin-bottom: 0;
    }
    .container { 
        width:80%
    }
    .partner-cards .bigcard {
        display: flex;
        align-items: center;
    }
    .partner-cards .text {
        padding-left: 2rem;
    }
    .partner-cards .text h3{
        padding: 2rem 0;
    }
}
/* DESKTOP */
@media screen and (min-width:992px) {
    .h-menu {
        display: none;
    }
    .nav {
        display: block;
    }
    .container {
        max-width: 1000px;
    }
    #planning .container {
        display: flex;
    }
}
/* WIDE SCREEN */
@media screen and (1200px) {

}